.DS_Store
/graphs/
/cnf/
/cliques/
/clique_solver/
/results/
/archive_data/

/py/__pycache__/
/py/__pycache__/*
/py/__pycache__/**
/py/__pycache__/**.*
**/*.rs.bk
*.out

.idea
.idea/*.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/*
.idea/**
.idea/**.*
