.DS_Store
/graphs/
/cnf/
/cliques/
/clique_solver/
**/*.rs.bk
*.out

.idea
.idea/*.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/*
.idea/**
.idea/**.*
